@import '~@fortawesome/fontawesome-free/css/all.css';

.cells{
  width: 140px;
  height: 30px;
  border: 1px solid #C6C9CB;
}

.button-style {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 5px;
}

.button-style:hover,
.button-style:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.spreadsheet-container {
  background-color: white;
  margin-top: 20px;
}
.spreadsheet-background {
  background-color: aliceblue;
  padding: 5px
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.row-header{
  background-color: #C6C9CB;
}

.button-2 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 3px;
  margin-top: 20px;
}

.button-2:hover,
.button-2:focus {
  background-color: #07c;
}

.button-2:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-2:active {
  background-color: #0064bd;
  box-shadow: none;
}

.color-picker {
  text-align: right;
  margin: 0 auto;
}

.color-picker-buttons {
  text-align: center;
  margin: 0 auto;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Added style css for grid */
.grid {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 40px;
  margin: '2px';
  border: 1px solid lightgray;
  background-color: #fff;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
